/* src/styles/variables.scss */

:root {
  --navbar-height: 10%;
  --navbar-bg-gradient: #416aa1;
  --navbar-text-color: #ffffff; /* 白色文字 */
  --navbar-hover-color: #40a9ff; /* 鼠标悬停高亮颜色 */
  --navbar-shadow: 0 2px 8px rgba(0, 0, 0, 0.2); /* 导航栏阴影 */
}

$navbarBgColor: #5cc1bb;
$blue: #2185d0;
$grey: #e8e8e8;
$teal: #00b5ad;
